/.idea/.idea.FastResolve/.idea/
FastResolver/obj/FastResolve.csproj.nuget.dgspec.json
FastResolver/obj/FastResolve.csproj.nuget.g.props
FastResolver/obj/FastResolve.csproj.nuget.g.targets
FastResolver/obj/FastResolver.csproj.nuget.dgspec.json
FastResolver/obj/FastResolver.csproj.nuget.g.props
FastResolver/obj/FastResolver.csproj.nuget.g.targets
FastResolver/obj/project.assets.json
FastResolver/obj/project.nuget.cache
FastResolver/obj/project.packagespec.json
FastResolver/obj/rider.project.restore.info
FastResolver/obj/vt.fares.ioc.csproj.nuget.dgspec.json
FastResolver/obj/vt.fares.ioc.csproj.nuget.g.props
FastResolver/obj/vt.fares.ioc.csproj.nuget.g.targets
FastResolver/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
FastResolver/obj/Debug/netstandard2.1/FastResolve.AssemblyInfo.cs
FastResolver/obj/Debug/netstandard2.1/FastResolve.AssemblyInfoInputs.cache
FastResolver/obj/Debug/netstandard2.1/FastResolve.assets.cache
FastResolver/obj/Debug/netstandard2.1/FastResolver.AssemblyInfo.cs
FastResolver/obj/Debug/netstandard2.1/FastResolver.AssemblyInfoInputs.cache
FastResolver/obj/Debug/netstandard2.1/FastResolver.assets.cache
FastResolver/obj/Debug/netstandard2.1/FastResolver.csproj.CoreCompileInputs.cache
FastResolver/obj/Debug/netstandard2.1/FastResolver.csproj.FileListAbsolute.txt
FastResolver/obj/Debug/netstandard2.1/FastResolver.csprojAssemblyReference.cache
FastResolver/obj/Debug/netstandard2.1/vt.fares.ioc.AssemblyInfo.cs
FastResolver/obj/Debug/netstandard2.1/vt.fares.ioc.AssemblyInfoInputs.cache
FastResolver/obj/Debug/netstandard2.1/vt.fares.ioc.assets.cache
FastResolver/obj/Debug/netstandard2.1/vt.fares.ioc.csprojAssemblyReference.cache
